<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.BigdataBeidouTeamInfoMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.BigdataBeidouTeamInfo" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="PROVINCE_ID" property="provinceId"/>
			<result column="PROVINCE_NAME" property="provinceName"/>
			<result column="CITY_ID" property="cityId"/>
			<result column="CITY_NAME" property="cityName"/>
			<result column="XIANQU_ID" property="xianquId"/>
			<result column="XIANQU_NAME" property="xianquName"/>
			<result column="TEAM_NAME" property="teamName"/>
			<result column="TEAM_TYPE" property="teamType"/>
			<result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.BigdataBeidouTeamInfoView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, PROVINCE_ID, PROVINCE_NAME, CITY_ID, CITY_NAME, XIANQU_ID, XIANQU_NAME, TEAM_NAME,TEAM_TYPE, UPDATE_TIME
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
				<if test='queryObj != null and  queryObj.createTime != null'>
					AND  CREATE_TIME = #{queryObj.createTime}
				</if>
				<if test='queryObj != null and  queryObj.updateTime != null'>
					AND  UPDATE_TIME = #{queryObj.updateTime}
				</if>
				<if test="userType != null and  userType == 'YGC'">
					AND  (TEAM_TYPE = 'TEAM_WXHWYS' OR TEAM_TYPE = 'TEAM_KY')
				</if>
				<if test="userType != null and  userType == 'WH'">
					AND   TEAM_TYPE = 'TEAM_WXHWYS'
				</if>
				<if test="userType != null and  userType == 'KY'">
					AND  TEAM_TYPE = 'TEAM_KY'
				</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.BigdataBeidouTeamInfoQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from bigdata_beidou_team_info 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.BigdataBeidouTeamInfoQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from bigdata_beidou_team_info
  		<include refid="where"/>
  </select>
  <select id="selectByXianquId" parameterType="java.lang.String" resultMap="BaseResultViewMap">
	  select <include refid="Base_Column_List"/> from bigdata_beidou_team_info
	  WHERE XIANQU_ID = #{xianquId}
  </select>
  
</mapper>